/* Center the body */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

input[type=file] {
    margin: 0 0 20px 0;
}

#submitButton {
    margin: 0 0 0 20px;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #f5f5f5;
  }

  input[type=file] {
    background-color: #424242; 
    color: #f5f5f5;
  }

  #submitButton {
    background-color: #424242;
    color: #f5f5f5;
    border-color: #f5f5f5;
  }
}